<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1"  preserve-order="true" thread-count="1">
    <parameter name = "browserName" value="chrome"/>
    <test name="SquareShift" >
        <classes>
            <class name="Scenario1" />
            <class name="Scenario2" />
            <class name="Scenario3" />
       </classes>
    </test>
</suite>